@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root {
    --blue: hsl(223, 87%, 63%);
    --pale-blue: hsl(223, 100%, 88%);
    --light-red: hsl(354, 100%, 66%);
    --gray: hsl(0, 0%, 59%);
    --very-dark-blue: hsl(209, 33%, 12%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.container {
    display: flex;
    flex-direction: column;
}

.logo {
    max-width: 15%;
    padding-bottom: 1.5em;
    margin: auto;
}

.text-content {
    padding-bottom: 1.5em;
}

.title {
    color: var(--gray);
    font-weight: 300;
    font-size: 25px;
    padding: 0.5em 0 0.4em 0;
}

.span {
    color: var(--very-dark-blue);
    font-weight: 700;
}

.desc {
    padding-top: 0.8em;
    font-weight: 300;
    font-size: 15px;
}

.email-address {
    display: flex;
    flex-direction: column;
}

.email {
    outline: none;
    border-radius: 24px;
    border: 1px solid var(--pale-blue);
    padding: 1em 2em 1em 2.5em;
    width: 18rem;
    margin: auto auto 0.8em auto;
}

.email::placeholder {
    color: var(--pale-blue);
}

#text {
    font-size: 13px;
    font-style: italic;
    color: var(--light-red);
}

.btn {
    width: 18rem;
    border-radius: 24px;
    font-weight: 600;
    border: none;
    background-color: var(--blue);
    color: white;
    padding: 1em 5em;
    cursor: pointer;
    box-shadow: 10px 10px 20px #DBE2FC;
}

.img-holder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard {
    width: 70%;
    padding-top: 3em;
}

.icons:not(.copyright) {
    margin-top: 2em;
}

.icons a {
    color: var(--blue);
    border: 1px solid #E9ECF1;
    border-radius: 50%;
    padding: 0.2em;
}

.icons a:hover {
    background-color: var(--blue);
    color: white;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}

.copyright {
    font-size: 13px;
    color: var(--gray);
    margin: 1.5em 0;
}

@media screen and (min-width: 650px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100vw;
        margin-top: 5em;
    }

    .logo {
        padding-bottom: 1em;
    }

    #form {
        display: flex;
        flex-direction: row;
    }

    .btn {
        width: 10rem;
        padding: 1em;
        text-align: center;
        margin-left: 1em;
    }

    .dashboard {
        width: 60%;
        padding-top: 1em;
    }

    .icons {
        margin-top: 0.5em;
    }
}